.mid_home_wrapper {
  display: flex;
  position: relative;
  background-color: #DF3939;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 100%;  
  height: 600px;
}

.bottom_home_wrapper {
  display: flex;
  position: relative;
  background-color: #fdf8f3;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 100%;  
  height: 315px;
}