.content{
    min-height: calc(100vh - 45vh);
}


.outer_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}


.contact_wrapper{
    font-family: Sen;
    color: black;
    display: flex;
}
