/* .wrapper
{ display:flex; 
  justify-content:center; 
  align-items:center; 
  position: 'relative'; 
  width: 100%; 
  height: 400px; 
} */



.mid_home_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #eee1ea;
  left: 0%;
  right: 0%;
  top: 0%;
  /* bottom: 100%;  
  height: 600px; */
  min-height: calc(100vh - 40px);
}

.home_content{
  
  position: relative;
  color: aqua;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FDF8F3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  

.bottom_home_wrapper {
  display: flex;
  position: relative;
  background-color: #fdf8f3;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;  
  height: 315px;
}